body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
  font-family: 'Press Start 2P';
}

button {
  font-family: 'Press Start 2p';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.game-container{
  width: 1024;
  height: 768;
  background-color: rgb(48, 48, 48);
  padding: 20px;
  border: solid white 5px;
  border-radius: 5px;
}

.enemy-container{
  width: 300;
  height: 400;
  padding: 20px;
  border: solid white 3px;
  border-radius: 5px;
}
