body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
  font-family: 'Press Start 2P';
}

.logo{
  flex-grow: 2;
  font-size: 24px;
  font-family: 'Rubik Glitch';
  font-style: normal;
}

button {
  background-color: white;
  border: aliceblue;
  border-radius: 5px;
  font-family: 'Press Start 2p';
  padding: 5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.nav-links {
  flex-grow: 1;
  padding: 20px;
}

.header-container li {
  padding: 5px;
  font-size: 18px;
  display: inline;
}

.nav-links li {
  display: inline-block;
  padding: 10px;
}

.game-container{
  max-width: 1024;
  height: 768;
  /* Displays the game window in the correct aspect ratio when console closed. */
  /* margin: 0px 600px 0px 0px; */
  background-color: rgb(30, 30, 30);
  padding: 20px;
  border: solid white 5px;
  border-radius: 5px;
}

.game-window{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.enemy-container{
  width: 400;
  height: 500;
  padding: 20px;
  border: solid white 3px;
  border-radius: 5px;
  background-color: rgb(48, 48, 48);
}

.stat-container{
  width: 400;
  height: 500;
  padding: 20px;
  border: solid white 3px;
  border-radius: 5px;
  background-color: rgb(48, 48, 48);
}

.button-container{
  margin: 10px;
  padding: 10px;
  border: solid white 3px;
  border-radius: 5px;
  width: 200;
  display: flex;
  flex-wrap: row wrap;
  justify-content: space-evenly; 
  background-color: rgb(48, 48, 48);
  
}

.img-text-pair {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.img-text-pair img {
  width: auto;
  height: 26px;
  padding: 10px 0px 0px 0px;
}

.enemy-list {
  display: flex;
  flex-direction: wrap;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.enemy-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 200px;
  height: auto;
  padding: 5px;
  border: solid white 3px;
  border-radius: 5px;
}

.enemy-detail {
  margin: 10px;
}

.enemy-detail-container {
  display: flex;
  flex-direction: row;
  margin: 25px;
  padding: 5px;
  justify-content: space-evenly;
}

/* .img-overlay {
  position: absolute;
  background-color: rgba(155, 188, 15, 0.4);
} */

.enemy-detail-img {
  /* position: absolute;
  z-index: -1; */
  flex: 1;
  padding: 20px;
  background-image: linear-gradient(rgb(139, 172, 15), rgb(15, 56, 15));
  border-radius: 5px;

}

.enemy-detail-info {
  flex: 3;
  padding: 20px;
  border: solid white 3px;
  border-radius: 5px;
}

.enemy-detail-stats {
  font-size: 12px;
}

.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.enemy-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}