body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
  font-family: 'Press Start 2P';
  background-image: url("./assets/img/DoomWallBG.png");
}

.logo{
  margin: 0px 40px 0px 40px;
  font-size: 32px;
  font-family: 'Rubik Glitch';
  font-style: normal;
}


button {
  background-color: white;
  border: aliceblue;
  border-radius: 5px;
  font-family: 'Press Start 2p';
  padding: 5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.nav-links {
  width: 60%;
  margin: auto;
  padding: 10px;
  border: white dotted 3px;
  border-radius: 5px;
  background-color: rgba(48, 48 , 48, 0.7);
}

.nav-links li {
  display: inline;
  padding: 10px;
}

.game-container{
  width:65%;
  height: auto;
  margin:auto;
  background-color: rgb(30, 30, 30);
  padding: 20px;
  border: solid white 5px;
  border-radius: 5px;
}

.game-window{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.enemy-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 30%;
  height: 500;
  padding: 20px;
  border: solid white 3px;
  border-radius: 5px;
  background-color: rgb(48, 48, 48);
}

.stat-container{
  text-align: center;
  width: 30%;
  height: 500;
  padding: 20px;
  border: solid white 3px;
  border-radius: 5px;
  background-color: rgb(48, 48, 48);
}

.trophy-container {
  text-align: center;
  width: 30%;
  height: 500;
  padding: 20px;
  border: solid white 3px;
  border-radius: 5px;
  background-color: rgb(48, 48, 48);
}

.trophies {
  display: flex;
  justify-content: center;

}

.button-container{
  margin: 10px;
  padding: 10px;
  border: solid white 3px;
  border-radius: 5px;
  width: 200;
  display: flex;
  flex-wrap: row wrap;
  justify-content: space-evenly; 
  background-color: rgb(48, 48, 48);
  
}

.img-text-pair {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.img-text-pair img {
  width: auto;
  height: 26px;
  padding: 10px 0px 0px 0px;
}

.monster-display {
  margin: auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.enemy-list {
  display: flex;
  flex-direction: wrap;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.enemy-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 200px;
  height: auto;
  padding: 5px;
  border: solid white 3px;
  border-radius: 5px;
  background-color: black;
}

.enemy-detail {
  margin: 10px;
}

.enemy-detail-container {
  display: flex;
  flex-direction: row;
  margin: 25px;
  padding: 5px;
  justify-content: space-evenly;
}

/* .img-overlay {
  position: absolute;
  background-color: rgba(155, 188, 15, 0.4);
} */

.enemy-detail-img {
  /* position: absolute;
  z-index: -1; */
  flex: 1;
  padding: 20px;
  background-image: linear-gradient(rgb(139, 172, 15), rgb(15, 56, 15));
  border-radius: 5px;

}

.enemy-detail-info {
  flex: 3;
  padding: 20px;
  border: solid white 3px;
  border-radius: 5px;
}

.enemy-detail-stats {
  font-size: 12px;
}

.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .enemy-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

.faq-container {
  width: 65%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: white solid 5px;
  border-radius: 5px;
  background-color: rgba(48, 48 , 48, 0.7);

}

.thread-list-view {
  font-family: Oswald;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  line-height: 0.2;
  width: 80%;
  border:rgb(139, 172, 15) solid 3px;
  border-radius: 5px;
  background-color: rgba(48, 48 , 48, 0.7);
}

.thread{
  font-family: Oswald;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.thread h1 {
  padding: 0px 0px 0px 40px;
}

.forum-post {
  height: 200px;
  margin: 10px;
  font-family: Oswald;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.user-post-card{
  padding: 5px;
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 0;
  border:rgb(139, 172, 15) solid 3px;
  border-radius: 5px;
  background-color: rgba(48, 48 , 48, 0.7);
}

.post-tag {
  padding: 10px;
  font-style: italic;
}

.post-content{
  line-height: 0;
  padding: 20px;
  width: 50%;
  font-size: 18px;
  border:rgb(139, 172, 15) solid 3px;
  border-radius: 5px;
  background-color: rgba(48, 48 , 48, 0.7);
}

.post-id {
  font-size: 12px;
  padding: 0px;
  line-height: 0;
  text-align: end;
}

.admin-status {
  font-weight: bolder;
  color: red;
}

footer {
  padding: 50px 10px 10px 10px;
  text-align: end;
}

a:visited {
  color: yellow;
}